@import 'responsive';

/* Responsive Tablet */
@media (min-width: 768px) {
    .skip-link {
        color: #f6f4e6;
        display: inline;
        font-size: 12px;
        background-color: rgba(65, 154, 236, 0.5);
        min-width: $min-width;
        line-height: $line-height;
        position: $position-absolute;
        padding: 0 8px;
        text-decoration: $text-decor;
        top: -40px;
        left: 0;
        pointer-events: none;
        cursor: default;
        z-index: 10;

        &:focus {
            top: 0;
        }
    }

    nav {
        #hamburger {
            display: none;
        }

        .logo {
            margin: 0;

            a {
                margin-left: 0;
            }
        }

        ul {
            width: 40%;
            flex-direction: row;
            position: $position-relative;
            justify-content: space-evenly;
            align-items: center;
            padding: 0;
            height: 0;
            z-index: 0;
            transform: translateX(0);
            opacity: 1;

            li {
                padding: 0 8px;

                a {
                    font-size: 1em;
                    text-transform: capitalize;
                }
            }
        }
    }

    .menu-toggle {
        display: none;
    }

    .jumbotron .title {
        top: 12%;

        a {
            width: 40%;
            margin: 0 auto;
        }

        h1 {
            font-size: 1.8em;
        }

        p {
            font-size: 1em;
        }
    }

    // Main content
    #main-content {
        h2 {
            margin-bottom: 30px;
            font-size: 1.8em;
        }

        .search-favorite {
            max-width: 50%;
            padding-bottom: 2em;
        }

        .detail-menu {
            // background-color: rgb(192, 47, 47);

            .detail-card {
                .detail-text {
                    padding-left: 30px;
                    padding-right: 30px;
                    margin-top: 4px;
                }

                .detail-image {
                    height: 350px;

                    img {
                        max-height: 100%;

                    }
                }
            }

            .reviews {
                .row-review {
                    display: $display-flex;
                    flex-direction: row;

                    .column-label {
                        width: 30%;
                        margin-top: 6px;
                    }

                    .column-input {
                        width: 70%;
                        margin-top: 6px;
                    }
                }

                .submit {
                    #buttonAdd {
                        min-width: 30%;
                        margin-left: auto;
                    }
                }
            }
        }

        .container-cards {
            display: $display-flex;
            flex-flow: row wrap;

            .cards {
                width: 50%;
                padding: 1em 1em;

                .item {
                    h3 {
                        font-size: 1.2em;
                    }

                    .description {
                        font-size: 1em;
                    }
                }

                .card-header>.city {
                    font-size: 1em;
                }

                .alert {
                    width: 60%;
                }
            }
        }

        footer p {
            font-size: 13px;
        }
    }
}

@media (min-width: 1024px) {
    nav ul {
        width: 35%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .jumbotron .title {
        top: 14%;

        a {
            width: 25%;
        }

        h1 {
            font-size: 1.5em;
        }
    }

    #main-content .container-cards {
        padding: 0 10%;

        .alert.favorite {
            margin-left: 15%;
            margin-right: 15%;
        }

        .cards {
            width: 33.333333%;

            .card-item {
                h2 {
                    font-size: 1.5em;
                }

                .item {
                    padding: 20px;

                    h3 {
                        font-size: 1.3em;
                    }

                    .booked {
                        font-size: 14px;
                    }
                }

                .card-header>.city {
                    font-size: 1em;
                }
            }
        }
    }

    #main-content .detail-menu {
        width: 60%;
        margin: 20px auto;

        .alert {
            margin-top: 60px;
        }

        .detail-card {
            .detail-image {
                width: 100%;
                height: 420px;

                img {
                    max-height: 100%;
                }
            }

            .detail-text {
                font-size: 1.1em;
            }
        }

        .reviews {
            padding: 50px;

            margin .row-review.review-customer {

                .column-label {
                    width: 25%;
                }

                .column-input {
                    width: 75%;
                }
            }

            .submit #buttonAdd {
                width: 15%;
            }
        }
    }



}