@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   background-color: #ddd;
   overflow-x: hidden;
}

/* navbar */
nav {
    color: #f6f4e6;
    display: flex;
    background-color: #151515;
    justify-content: space-around;
    /* padding: 20px 0; */
    /* line-height: 44px; */
    height: 50px;
    align-items: center;
    position: relative;
    z-index: 3;
    border-bottom: 1px solid rgba(248, 212, 8, 0.16);
}

nav .logo a {
    color: #f6f4e6;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.45em;
    letter-spacing: 3px;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    background-color: #151515;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 60px 20px 20px;
    z-index: 0;
    transform: translateX(100%);
    transition: all 0.7s;
    opacity: 0;
    list-style-type: none;
    width: 80%;
}

nav ul.slide {
    opacity: 1;
    transform: translateX(0);
}

nav ul li a {
    color: rgba(231, 231, 225, 0.75);
    font-size: 0.8em;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    min-width: 44px;
    line-height: 44px;
}

nav ul li a.active {
    font-weight: 500;
    color: rgba(231, 231, 225);
}

nav ul li a:hover {
    color: rgba(231, 231, 225);
}

.skip-link {
    display: none;
}

/* Hamburger Menu */
.menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
}
.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #fdfdff;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* Jumbotron */
.jumbotron {
    max-width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.jumbotron img {
    width: 100%;
    max-height: 380px;
    object-position: center;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.jumbotron .title {
    color: white;
    position: absolute;
    top: 20%;
    text-align: center;
    padding: 20px;
    z-index: 0;
}
.jumbotron .title h1 {
    font-size: 1.1em;
    font-weight: normal;
}
.jumbotron .title p {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.jumbotron .title a {
   display: block;
   min-width: 44px;
   color: #151515;
   font-weight: 500;
   font-size: 1.1em;
   line-height: 44px;
   text-decoration: none;
   margin: 5px 40px 0;
   border-radius: 5px;
   background-color: rgba(223, 212, 56);
   transition: 0.3s opacity;
   opacity: 0.85;
}

.jumbotron .title a:hover {
    opacity: 1;
}

/* Main content */
#main-content {
    max-width: 100%;
    padding: 20px 6%;
    background-color: rgba(250, 250, 250, 0.85);
}

#main-content h2 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
}

#main-content h2::after {
    display: block;
    content: '';
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-top: 15px;
}

#main-content .container-card {
    width: 100%;
}

#main-content .container-card .card {
    width: 100%;
    background-color: rgba(242, 242, 242, 0.85);
    position: relative;
    margin: 24px auto;
    border-radius: 5px;
    box-shadow: 3px 7px 9px rgba(214, 214, 214, 0.7);
    z-index: 0;

}

.container-card .card img {
    max-width: 100%;
    min-height: 250px;
    flex: 100%;
    border-radius: 7px 7px 0 0;
    object-position: center;
    object-fit: cover;
}

.container-card .card .item {
    padding: 0 15px 10px;
}

.container-card .card .city {
    background-color: rgba(27, 48, 94, 0.67);
    color: rgb(221, 218, 218);
    font-weight: 500;
    font-size: 0.8em;
    width: 30%;
    padding: 4px 4px 4px 12px;
    margin-top: 6px;
    position: absolute;
    border-radius: 0 1px 1px 0;
    box-shadow: 0 1px 4px rgba(226, 226, 226, 0.596);
}

.card .item .rating {
    color: rgba(35, 35, 83, 0.7);
    font-size: 12px;
}

.card .item .rating span {
    font-weight: 500;
    color: rgb(35, 35, 83);
}

.card .item h3 {
    text-transform: capitalize;
    font-size: 1em;
    margin-top: -2px;
    margin-bottom: 3px;
    transition: 0.3s opacity;
}

.card .item h3:hover {
    opacity: 0.8;
}

.card .item h3 a {
    text-decoration: none;
    color: #151515;
}

.card .item .desc {
    font-size: 12px;
    color: rgba(21, 21, 21, 0.9);
    letter-spacing: 0;
    text-align: justify;
    text-indent: 1.7rem;
}

.card .item .booked {
    font-size: 12px;
}


/* Footer */
footer {
    background-color: rgb(26, 24, 24);
    text-align: center;
    padding: 20px;
}

footer p {
    color: rgb(202, 202, 202);
    font-size: 12px;
    font-weight: 500;
}

footer p .i-logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 15px;
}

/* Responsive Tablet */
@media (min-width: 768px) {
    a:focus {
        outline: 1px solid rgba(201, 173, 13, 0.5);
    }

    .skip-link {
        color: #f6f4e6;
        display: inline;
        font-size: 12px;
        background-color: rgba(65, 154, 236, 0.5);
        position: absolute;
        padding: 6px;
        text-decoration: none;
        top: -40px;
        left: 0;
        z-index: 10;
    }

    .skip-link:focus {
        top: 0
    }

    nav ul {
        width: 25%;
        flex-direction: row;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        height: 0;
        z-index: 0;
        transform: translateX(0);
        opacity: 1;
    }

    nav ul li a {
        text-transform: capitalize;
    }

    .menu-toggle {
        display: none;
    }

    .jumbotron .title {
        top: 13%;
    }

    .jumbotron .title a {
        width: 40%;
        margin: 0 auto;
    }

    .jumbotron .title h1 {
        font-size: 1.4em;
    }
    .jumbotron .title p {
        font-size: 13px;
    }

    /* main content */
    #main-content .container-card {
        display: flex;
        flex-flow: row wrap;
        padding: 20px 3%;
    }

    #main-content .container-card .card {
        width: 45%;
        margin: 14px;
    }

    .container-card .card .item {
        padding-left: 18px;
        padding-right: 18px;
    }

    .container-card .card .city {
        background-color: rgba(27, 48, 94, 0.67);
        color: rgb(221, 218, 218);
        font-weight: 500;
        font-size: 0.8em;
        width: 30%;
        padding: 4px 4px 4px 12px;
        margin-top: 6px;
        position: absolute;
        border-radius: 0 1px 1px 0;
        box-shadow: 0 1px 4px rgba(226, 226, 226, 0.596);
    }

    .card .item h3 {
        font-size: 1em;
        margin-bottom: 4px;
    }

    .card .item .desc {
        font-size: 13px;
    }

    footer p {
        font-size: 13px;
    }
}

/* Responsive Desktop */
@media (min-width: 1024px) {
    nav ul {
        width: 20%;
    }

    .jumbotron .title {
        top: 15%;
    }

    .jumbotron .title a {
        width: 30%;
    }

    #main-content .container-card .card {
        width: 30%;
    }

    #main-content h2 {
        font-size: 1.5em;
    }

    .container-card .card .item {
        padding-left: 16px;
        padding-right: 16px;
    }

    .container-card .card .city {
        background-color: rgba(27, 48, 94, 0.67);
        color: rgb(221, 218, 218);
        font-weight: 500;
        font-size: 0.8em;
    }

    .card .item .rating {
        font-size: 13px;
    }

    .card .item h3 {
        font-size: 1.12em;
        margin-bottom: 4px;
    }

    .card .item .desc {
        font-size: 14px;
    }

    .card .item .booked {
        font-size: 14px;
    }
}