<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iResto | Favorite Restaurant</title>
    <meta name="description" content="available your favorite food and drink here" />
    <meta name="theme-color" content="#000" />
    <link rel="icon" type="image/png" sizes="512x512" href="images/logo/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/logo/android-chrome-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/logo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/logo/favicon-32x32.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap">
</head>

<body>
    <a href="#main-content" class="skip-link">Go to content</a>
    <!-- Header -->
    <header>
        <!-- Navigation Menu -->
        <nav>
            <a id="hamburger" href="#">☰</a>
            <div class="logo">
                <a href="#">iResto</a>
            </div>
            <ul>
                <li><a href="./index.html" class="active">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/irwanto-siregar/?locale=in_ID" rel="noopener"
                        target="_blank">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- End header -->

    <!-- 
    <!-- Jumbotron -->
    <div class="jumbotron">
        <img src="./images/heros/hero-image_3.jpg" alt="">
        <div class="title">
            <h1>Enjoy our new menus and feel the pleasure only at our outlet</h1>
            <p>Various kinds of food start from taste, type, and delicacy. Here we present local and international
                flavors made from Indonesian tongues.</p>
            <a href="#">View Menus</a>
        </div>
    </div>
    <!-- End jumbotron -->

    <!-- Main Content -->
    <main id="main-content">
        <h2>Explore Restaurant</h2>
        <div class="container-card" id="card-restaurants">
        </div>
    </main>
    <!-- End main -->

    <!-- Footer -->
    <footer>
        <p>Copyright &copy; 2020 - <span class="i-logo">iResto </span></p>
    </footer>
    <!-- End footer -->

</body>

</html>