<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iResto | Favorite Restaurant</title>
    <meta name="description" content="available your favorite food and drink here" />
    <meta name="theme-color" content="#000" />
    <link rel="icon" type="image/png" sizes="512x512" href="images/logo/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/logo/android-chrome-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/logo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/logo/favicon-32x32.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap">
</head>

<body>
    <a href="#main-content" class="skip-link">Go to content</a>
    <!-- Header -->
    <header>
        <!-- Navigation Menu -->
        <nav>
            <a aria-label="hamburger menu" id="hamburger" href="#">☰</a>
            <!-- <button id="hamburger" aria-label="hamburger menu">☰</button> -->
            <div class="logo">
                <a href="#">iResto</a>
            </div>
            <ul>
                <li><a href="./index.html" class="active">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/irwanto-siregar/?locale=in_ID" rel="noopener"
                        target="_blank">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- End header -->

    <!-- Main Content -->
    <main id="main-content">
        <div class="detail-menu" id="detail-menu">
            <div class="detail-image">
                <span>Lorem ipsum dolor sit amet.</span>
            </div>
            <div class="detail-text">
                <h4>Alamat Lengkap</h4>
                <h4>Kategori menu</h4>
                <h4>Menu Makanan</h4>
                <h4>Rating</h4>
            </div>
        </div>
    </main>
    <!-- End main -->

    <!-- Footer -->
    <footer>
        <p>Copyright &copy; 2020 - <span class="i-logo">iResto </span></p>
    </footer>
    <!-- End footer -->

</body>

</html>

########################

            <h4><i class="fa fa-list-alt fa-lg" aria-hidden="true"></i></h4>
            <h4><i class="fa fa-users fa-lg" aria-hidden="true"></i></h4>
            <h4><i class="fa fa-plus fa-lg" aria-hidden="true"></i></h4>
           
            <h4><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                <span class="sr-only">Loading…</span></h4>

<div class="reviews" id="reviews">
    <form action="/">
    <div class="row">
      <div class="column-label">
        <label for="firstname">First Name</label>
      </div>
      <div class="column-input">
        <input type="text" id="firstname" name="firstname" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="column-label">
        <label for="lastname">Last Name</label>
      </div>
      <div class="column-input">
        <input type="text" id="lastname" name="lastname" placeholder="Your last name..">
      </div>
    </div>
    <div class="row">
      <div class="column-label">
        <label for="text-review">Review</label>
      </div>
      <div class="column-input">
        <textarea id="text-review" name="text-review" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
    </form>
  </div>
